.photos-header {
  display: flex;
  background-image: url(../assets/gradiend-bg@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0;
  height: 100px;
  margin-top: 65px;
}
.photos {
  margin: 70px 60px;
}

@media (width < 700px) {
  .photos {
    margin: 60px 25px;
  }
}

.photos .singular-photo {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  object-fit: cover;
}

.photos .singular-photo:hover {
  filter: brightness(90%);
}
