body {
  margin: 0;
  font-family: "Be Vietnam Pro", serif;
  font-weight: 500;
  font-style: normal;
}
#root {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
